<div class="header-box">
    <div class="header">
        <a class="header_logo" href="/home.html">
            <img src="../../image/asset/logo.png"/>
        </a>
        <ul class="menu">
            <li class="menu_item" id="about">
                <a href="/home.html">
                    <div class="header-label">ABOUT</div>
                    <div class="header-name">关于我们</div>
                </a>
            </li>
            <li class="menu_item" id="cooperation">
                <a href="/cooperation.html">
                    <div class="header-label">COOPERATION</div>
                    <div class="header-name">加盟合作</div>
                </a>
            </li>
            <li class="menu_item" id="product">
                <a href="/product.html">
                    <div class="header-label">PRODUCT</div>
                    <div class="header-name">产品展示</div>
                </a>
            </li>
            <li class="menu_item" id="store">
                <a href="/store.html">
                    <div class="header-label">STORE</div>
                    <div class="header-name">门店展示</div>
                </a>
            </li>
            <li class="menu_item" id="contact">
                <a href="/contact.html">
                    <div class="header-label">CONTACT</div>
                    <div class="header-name">联系我们</div>
                </a>
            </li>
        </ul>
    </div>
</div>
