<!DOCTYPE html>
<html lang="zh">
<head>
    <title>首页</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit"/>
</head>
<body>
<div class="page">
    <div class="header-box">
        <div class="header">
            <a class="header_logo" href="/home.html">
                <img src="../../image/asset/logo.png"/>
            </a>
            <ul class="menu">
                <li class="menu_item" id="about">
                    <a href="/home.html">
                        <div class="header-label">ABOUT</div>
                        <div class="header-name">关于我们</div>
                    </a>
                </li>
                <li class="menu_item" id="cooperation">
                    <a href="/cooperation.html">
                        <div class="header-label">COOPERATION</div>
                        <div class="header-name">加盟合作</div>
                    </a>
                </li>
                <li class="menu_item" id="product">
                    <a href="/product.html">
                        <div class="header-label">PRODUCT</div>
                        <div class="header-name">产品展示</div>
                    </a>
                </li>
                <li class="menu_item" id="store">
                    <a href="/store.html">
                        <div class="header-label">STORE</div>
                        <div class="header-name">门店展示</div>
                    </a>
                </li>
                <li class="menu_item" id="contact">
                    <a href="/contact.html">
                        <div class="header-label">CONTACT</div>
                        <div class="header-name">联系我们</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="cooperation-banner">
        <img src="../../image/asset4/banner1.png" class="cooperation_banner wow fadeIn" data-wow-duration="3s"/>
    </div>
    <div class="store">
        <div class="line"></div>
        <img class="product_banner cooperation_centerImg wow fadeInRight" data-wow-duration="2s"
             src="../../image/asset4/banner2.png"/>
        <img class="cooperation_centerImg" src="../../image/asset4/t1.png"/>
        <div class="line"></div>
        <img class="cooperation_centerImg" src="../../image/asset4/t2.png"/>
        <div class="store_swiper">
            <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper store_swiper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <img class="swiper-slide__img" src="./../../image/asset4/slide0.png">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-slide__img" src="./../../image/asset4/slide1.png">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-slide__img" src="./../../image/asset4/slide2.png">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-slide__img" src="./../../image/asset4/slide3.png">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-slide__img" src="./../../image/asset4/slide4.png">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-slide__img" src="./../../image/asset4/slide5.png">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-slide__img" src="./../../image/asset4/slide6.png">
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
    <div class="footer">
        <img class='footer-img' src="./../../image/asset/footer.png">
    </div>
</div>
</body>
</html>
