<!DOCTYPE html>
<html lang="zh">
<head>
    <title>首页</title>
    <%= require('./../../layout/head/Meta.ejs') %>
</head>
<body>
<div class="page">
    <%= require('./../../layout/head/Header.ejs') %>

    <div class="home">
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide" style="background-image: url('./../../image/asset/banner1.png')">
                </div>
                <div class="swiper-slide" style="background-image: url('./../../image/asset/banner2.png')">
                </div>
                <div class="swiper-slide" style="background-image: url('./../../image/asset/banner3.jpg')">
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <div class="home_textBox section clearfix wow slideInLeft" data-wow-duration="2s" id="isP">
            <img src="../../image/asset/t1.png" class="home_textBox_title1"/>
            <img src="../../image/asset/t2.png" class="home_textBox_title2"/>
            <div class="home_textBox_content clearfix" id="more">
                <div class="home_textBox_content_item">﻿琉璃净品牌成立于2018年，我们坚持“用户为王，顾客第一”的原则，自成立以来不断地自我创新和提升，
                    依靠自身的不懈努力已经成为广西茶饮界的后起之秀。
                </div>
                <div class="home_textBox_content_item">
                    琉璃净创始人团队专注于茶饮十余年时间，拥有丰富的产品研发、连锁加盟和经营管理经验，在立足传统茶饮经营模式的基础上勇于突破不断创新，紧跟时代潮流和经济趋势融入互联网现代餐饮理念和O2O模式，构建自己独特的商业新模式。
                </div>
                <div class="home_textBox_content_item">
                    目前为止一共研发出净饮清茶、长生水果茶、渡世招牌鲜奶、传承茶奶、云雾奶盖五大广受欢迎的茶饮系列。水果茶系列由新鲜水果搭配优质茶底调配而成，茶底来自世界各地的名茶：台湾日月潭的红茶、江浙的绿茶、福建的乌龙茶、日本进口的抹茶等，制作工艺上选用有机现萃现泡，最大程度保留茶叶的营养和原味。奶盖茶则采用现打奶盖加芝士、海盐等，全部采用优质鲜奶、芝士，健康、安全，口感丰富。
                </div>
                <div class="home_textBox_content_item">
                    我们希望能成为茶饮行业的风向标，立志只要有琉璃净的地方，就会给消费者带来更健康更美味的茶饮，琉璃净在不断努力，期待有更多的朋友一起前行。
                </div>
            </div>
            <img src="../../image/asset/showmore.png" class="home_textBox_showMore" id="more-btn"/>
        </div>
        <div class="line"></div>
        <div class="home_textBox section clearfix wow slideInRight" data-wow-duration="2s" id="isB">
            <img src="../../image/asset/t3.png" class="home_textBox_title1"/>
            <img src="../../image/asset/t4.png" class="home_textBox_title2"/>
            <ul class="home_textBox_left">
                <li>时间无始无终</li>
                <li>琉璃中不断流淌的恬静气质</li>
                <li>在沸腾声、阳光、制茶师、情感之汤中逐渐清晰</li>
                <li>琉璃净的茶饮文化理论家</li>
                <li>在无数个一闪即逝的瞬间里</li>
                <li>结合茗茶与琉璃世界与牛乳</li>
                <li>创作出异常饱含味觉张力的混合茶饮</li>
                <li>引领饮者追寻某种能量</li>
                <p></p>
                <li>空间无边无际</li>
                <li>从容展示层次丰富的表现力和强大的驾驭力</li>
                <li>令饮者亲身领略到一种真正意义的心无旁骛</li>
                <li>是对混合茶饮的绝佳诠释</li>
                <li>捧在手心的混合茶饮情感之纵深，摄人心魄</li>
                <p></p>
                <li>一步一阙诗，一事一杯茶</li>
            </ul>
            <img src="../../image/asset/img1.png" class="home_textBox_img1"/>
        </div>
        <div class="line"></div>

        <div class="home-card clearfix" id="isT">
            <!--团队实力-->
            <img src="../../image/asset/t5.png" class="home-card__title"/>
            <img src="../../image/asset/img2.png" data-wow-duration="1s" class="home-card__left  wow slideInRight"/>
            <div class="home-card__right home-bt clearfix wow slideInRight" data-wow-duration="2s">
                <div class="left">
                    <img src="../../image/asset/home_cxh.png" class="home-card__cxh">
                    <div class="csr">创始人</div>
                </div>
                <div class="right text">
                    <p>
                        曾就职于全国百强餐饮企业，有丰富的饮品加盟管理、品牌连锁管理经验，负责品牌整体的把控。他一直都有一个梦想——创造一个奶茶品牌，所以他把琉璃净相当于他的孩子一般，一直都竭尽全力对待琉璃净，强调奶茶产品要在商业性和艺术性之间寻求平衡，主张跨界思维和多元化运营。</p>
                    <p>他谦虚谨慎，善于学习，处事冷静但不优柔寡断，善于考虑事情涉及的各利害关系方，一步一个脚印为更高更远的目标而奋斗，所以他往往能把事情“做对”，并且能比一般人更容易创造出价值</p>
                </div>
            </div>
        </div>

        <div class="home-card clearfix">
            <div class="home-card__left home-bt clearfix  wow slideInLeft" data-wow-duration="2s">
                <div class="pull-left text" style="width: 360px">
                    <p>
                        策划团队专注于餐饮策划十余年的时间，先后为多个餐饮品牌服务，善于运用科学方法与创新思维，立足于品牌现状，对未来的营销发展做出战略性的决策和指导，并根据市场环境变化和自身资源状况做出相适应的规划，从而提高产品销售，获取利润，有机组合策划各要素，最大化提升品牌资产。</p>
                </div>
                <div class="pull-right">
                    <img src="../../image/asset/team_plane.png" alt="">
                </div>
            </div>
            <div class="home-card__right  clearfix wow slideInLeft" data-wow-duration="1s">
                <img src="../../image/asset/img3.png"/>
            </div>
        </div>
        <div class="home-card clearfix">
            <div class="home-card__right home-bt clearfix  wow slideInRight" data-wow-duration="2s">
                <div class="pull-right text" style="width: 300px">
                    <p>
                        琉璃净的设计团队是专业的平面和空间设计团队，团队成员均毕业于高等艺术学院，有极强的审美、洞察和表现能力，专注于餐饮行业设计5年，有丰富的餐饮设计经验。2018年，设计团队入选了古田路9号举办的华人设计领域权威专业品牌设计年鉴《brand
                        创意呈现》。</p>
                </div>
                <div class="pull-left mr15">
                    <img src="../../image/asset/team_des.png" alt="">
                </div>
            </div>
            <div class="home-card__left clearfix  wow slideInLeft" data-wow-duration="1s">
                <img src="../../image/asset/img4.png"/>
            </div>
        </div>
        <div class="home-card clearfix">
            <div class="home-card__left home-bt clearfix  wow slideInLeft" data-wow-duration="2s">
                <div class="pull-left text" style="width: 360px">
                    <p>
                        琉璃净的运营团队由数名曾任职于全国百强餐饮企业的人员组成的金牌团队，负责加盟店整个流程，从选店址到后期的装修、培训。负责监督跟踪门店，不定期上门测评降低投资风险，根据不同店⾯经营过程中遇到的问题及时调整改进，协助加盟商落实各阶段营销方案的策划及宣传活动的推广。</p>
                </div>
                <div class="pull-right">
                    <img src="../../image/asset/team_yuny.png" alt="">
                </div>
            </div>
            <div class="home-card__right  clearfix  wow slideInRight" data-wow-duration="1s">
                <img src="../../image/asset/img5.png"/>
            </div>
        </div>
        <div class="home-card clearfix">
            <div class="home-card__right home-bt clearfix  wow slideInUp" data-wow-duration="2s">
                <div class="pull-right text" style="width: 370px">
                    <p>
                        琉璃净研发团队专注于饮品行业10余年的时间，有着丰富的饮品研发经验，对研发过程严格把控，通过严谨的研发过程确保成品的质量。负责根据国家和地方的相关规范、规程、规定及标准，确保研发的成品能符合国家的要求。对市场上新技术、新设备、新工艺、新经验进行深入调研，能准确把握消费者的喜好，并根据市场变化研发新品，保证琉璃净产品的口味符合消费者的口味。</p>
                </div>
                <div class="pull-left mr15">
                    <img src="../../image/asset/team_dev.png" alt="">
                </div>
            </div>
            <div class="home-card__left clearfix  wow slideInUp" data-wow-duration="1s">
                <img src="../../image/asset/img6.png"/>
            </div>
        </div>
        <div class="line"></div>

        <div class="home_textBox section" id="isE">
            <img src="../../image/asset/t6.png" class="home_textBox_title1  "/>
            <img src="../../image/asset/store1.png" class="home_store  wow slideInUp" data-wow-duration="2s"/>
            <img src="../../image/asset/store2.jpg" class="home_store  wow slideInUp" data-wow-duration="2s"/>
            <img src="../../image/asset/store3.jpg" class="home_store  wow slideInUp" data-wow-duration="2s"/>
        </div>
        <div class="scroll-box" id="scrollBox">
            <a class="scroll-box__btn" href="javascript: void (0)" id="toP"></a>
            <a class="scroll-box__btn" href="javascript: void (0)" id="toB"></a>
            <a class="scroll-box__btn" href="javascript: void (0)" id="toT"></a>
            <a class="scroll-box__btn" href="javascript: void (0)" id="toE"></a>
            <a class="scroll-box__btn" href="javascript: void (0)" id="toTop"></a>
            <img class="scroll-box__bg" s src="./../../image/asset/toTop.png">
        </div>
    </div>
    <%= require('./../../layout/footer/Footer.ejs') %>
</div>
</body>
</html>