<!DOCTYPE html>
<html lang="zh">
<head>
    <title>首页</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
</head>
<body>
<div class="page">
    <div class="header-box">
        <div class="header">
            <a class="header_logo" href="/home.html">
                <img src="../../image/asset/logo.png"/>
            </a>
            <ul class="menu">
                <li class="menu_item" id="about">
                    <a href="/home.html">
                        <div class="header-label">ABOUT</div>
                        <div class="header-name">关于我们</div>
                    </a>
                </li>
                <li class="menu_item" id="cooperation">
                    <a href="/cooperation.html">
                        <div class="header-label">COOPERATION</div>
                        <div class="header-name">加盟合作</div>
                    </a>
                </li>
                <li class="menu_item" id="product">
                    <a href="/product.html">
                        <div class="header-label">PRODUCT</div>
                        <div class="header-name">产品展示</div>
                    </a>
                </li>
                <li class="menu_item" id="store">
                    <a href="/store.html">
                        <div class="header-label">STORE</div>
                        <div class="header-name">门店展示</div>
                    </a>
                </li>
                <li class="menu_item" id="contact">
                    <a href="/contact.html">
                        <div class="header-label">CONTACT</div>
                        <div class="header-name">联系我们</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="cooperation-banner">
        <img src="../../image/asset3/banner.png" class="cooperation_banner wow fadeIn" data-wow-duration="3s" />
    </div>
    <div class="product">
        <div class="section">
            <img src="../../image/asset3/t1.png" class="wow slideInLeft" data-wow-duration="2s" />
            <div class="text wow slideInLeft" data-wow-duration="3s" style="padding-bottom: 60px">
                <p> 沉静的喜悦，闲散的存粹 </p>
                <p> 有别于传统茶饮店 </p>
                <p> 琉璃净给自己的定位是提供一种富有人文气息的微高端年轻茶饮服务 </p>
                <p> 也因为这种定位和创始人十几年来的专注 </p>
                <p> 使得琉璃净更加了解新生代消费群体 </p>
                <p> 使得琉璃净更加了解新生代消费群体 </p>
                <p> 这种茶饮服务 </p>
                <p> 是一个可以让消费者感受到 </p>
                <p> 让产品回归生活的茶饮消费场所 </p>
            </div>
        </div>
        <div class="home-card clearfix">
            <div class="home-card__left clearfix">
                <img src="../../image/asset3/t2.png" class="wow slideInRight" data-wow-duration="2s" />
                <p class="text wow slideInRight" data-wow-duration="2s" style="width: 600px">
                    以多种当季新鲜水果配上各地的优质茶底，创新性加入的一味
                    凤梨更是增加了独特的口感，奇妙的组合在相遇后混合碰撞出
                    出人意料的清新与馨香，就像雨后空气中的青草味一般沁人心脾，
                    一口就能唤醒身体的每个细胞。
                </p>
            </div>
            <div class="home-card__right clearfix">
                <img class="product-img1 wow slideInRight" data-wow-duration="2s" src="../../image/asset3/img1.png"/>
            </div>
        </div>
        <div class="home-card clearfix">
            <div class="home-card__right clearfix">
                <div style="padding-top: 120px">
                    <img src="../../image/asset3/t4.png" class="wow slideInLeft" data-wow-duration="2s"/>
                    <p class="text wow slideInLeft" data-wow-duration="3s" style="width: 400px">
                        独特的制作工艺使得黑糖珍珠可以维持长时间富有
                        嚼劲的口感,一口下去携带着黑糖醇香的珍珠圆润而
                        又有嚼劲，混合着顺滑的牛奶和丝滑的黑糖胶质，
                        这一杯黑糖珍珠无愧于“招牌”二字。
                    </p>
                </div>
            </div>
            <div class="home-card__left clearfix">
                <img src="../../image/asset3/img2.png" class="wow slideInLeft" data-wow-duration="2s"/>
            </div>
        </div>
        <div class="home-card clearfix">
            <div class="home-card__left clearfix" style="padding-top: 160px">
                <img src="../../image/asset3/t5.png" class="wow slideInLeft" data-wow-duration="2s"/>
                <p class="text wow slideInLeft" data-wow-duration="3s" style="width: 600px">
                    红茶滋味清爽无涩感，配上牛奶的顺滑，在醇厚里揉进了清冽，两者的搭配再加上煎奶独特的焦香风味，更符合年轻人的喝法，对微甜党简直是0抵抗力沦陷的存在。
                </p>
            </div>
            <div class="home-card__right  clearfix">
                <img src="../../image/asset3/img3.png" class="wow slideInLeft" data-wow-duration="2s"/>
            </div>
        </div>
        <div class="home-card clearfix">
            <div class="home-card__right clearfix" style="width: 500px;padding-top: 180px">
                <img src="../../image/asset3/t6.png" class="wow fadeInRight" data-wow-duration="2s"/>
                <p class="text wow fadeInRight" data-wow-duration="2s">
                    优质的红茶茶汤蕴含着春雨的清新，入口时一股茶香和奶香慢慢从鼻端进入口腔，茶汤上浓香绵密的奶盖中和了淡淡的涩感，甘鲜醇厚中透着丝滑柔和，香气浓郁持久，带来春天般的温润之气。
                </p>
            </div>
            <div class="home-card__left clearfix">
                <img src="../../image/asset3/img4.png" class="wow fadeInRight" data-wow-duration="2s"/>
            </div>
        </div>
        <img class="cooperation_centerImg wow fadeIn" data-wow-duration="2s" src="../../image/asset3/t7.png"/>
        <div class="section imgCenter">
            <img src="../../image/asset3/pro1.png" class="wow fadeInLeft" data-wow-duration="2s" />
            <img class="imgCenter_middle wow fadeIn" data-wow-duration="3s" src="../../image/asset3/pro2.png"  />
            <img src="../../image/asset3/pro3.png"  class="wow fadeInRight" data-wow-duration="2s" />
            <img src="../../image/asset3/pro4.png"  class="wow fadeInLeft" data-wow-duration="2s" />
            <img class="imgCenter_middle  wow fadeIn" data-wow-duration="3s"  src="../../image/asset3/pro5.png"/>
            <img src="../../image/asset3/pro6.png"  class="wow fadeInRight" data-wow-duration="2s" />
        </div>
    </div>
    <div class="footer">
        <img class='footer-img' src="./../../image/asset/footer.png">
    </div>
</div>
</body>
</html>
