<!DOCTYPE html>
<html lang="zh">
<head>
    <title>首页</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
</head>
<body>
<div class="page">
    <div class="header-box">
        <div class="header">
            <a class="header_logo" href="/home.html">
                <img src="../../image/asset/logo.png"/>
            </a>
            <ul class="menu">
                <li class="menu_item" id="about">
                    <a href="/home.html">
                        <div class="header-label">ABOUT</div>
                        <div class="header-name">关于我们</div>
                    </a>
                </li>
                <li class="menu_item" id="cooperation">
                    <a href="/cooperation.html">
                        <div class="header-label">COOPERATION</div>
                        <div class="header-name">加盟合作</div>
                    </a>
                </li>
                <li class="menu_item" id="product">
                    <a href="/product.html">
                        <div class="header-label">PRODUCT</div>
                        <div class="header-name">产品展示</div>
                    </a>
                </li>
                <li class="menu_item" id="store">
                    <a href="/store.html">
                        <div class="header-label">STORE</div>
                        <div class="header-name">门店展示</div>
                    </a>
                </li>
                <li class="menu_item" id="contact">
                    <a href="/contact.html">
                        <div class="header-label">CONTACT</div>
                        <div class="header-name">联系我们</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="cooperation-banner">
        <img src="../../image/asset5/banner.png" class="cooperation_banner wow fadeIn" data-wow-duration="3s" />
    </div>
    <div class="contact">
        <div class="line"></div>
        <div class="home_textBox">
            <img class="cooperation_centerImg wow slideInUp"
            style="margin: 50px auto"
            data-wow-duration="2s" src="../../image/asset5/5.png"/>
        </div>
    </div>
    <div class="footer">
        <img class='footer-img' src="./../../image/asset/footer.png">
    </div>
</div>
</body>
</html>
