<!DOCTYPE html>
<html lang="zh">
<head>
    <title>首页</title>
    <%= require('./../../layout/head/Meta.ejs') %>
</head>
<body>
<div class="page">
    <%= require('./../../layout/head/Header.ejs') %>
    <div class="cooperation-banner">
        <img src="../../image/asset5/banner.png" class="cooperation_banner wow fadeIn" data-wow-duration="3s" />
    </div>
    <div class="contact">
        <div class="line"></div>
        <div class="home_textBox">
            <img class="cooperation_centerImg wow slideInUp" 
            style="margin: 50px auto"data-wow-duration="2s" src="../../image/asset5/5.png"/>
        </div>
    </div>
    <%= require('./../../layout/footer/Footer.ejs') %>
</div>
</body>
</html>
